<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anop.mapper.CustomGroupMapper">
    <resultMap id="BaseResultMap" type="com.anop.resource.GroupResource">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="permission" jdbcType="TINYINT" property="permission"/>
    </resultMap>
    <sql id="Base_Column_List">
        g.id, g.user_id, u.nickname, u.avatar_url, g.title, g.remark, g.creation_date, g.permission
    </sql>
    <select id="selectGroupByPrimary" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from noti_group as g
        join user_info as u on g.user_id = u.user_id
        where g.id = #{groupId,jdbcType=INTEGER}
    </select>
    <select id="listUserGroup" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from noti_group as g
        join noti_group_user as gu on g.id = gu.group_id and gu.user_id = #{userId,jdbcType=INTEGER} and gu.is_admin =
        #{isAdmin,jdbcType=TINYINT}
        join user_info as u on g.user_id = u.user_id
    </select>
    <select id="listUserCreateGroup" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from noti_group as g
        join user_info as u on g.user_id = u.user_id
        where g.user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>