<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anop.mapper.CustomUserRequestMapper">
    <resultMap id="BaseResultMap" type="com.anop.resource.UserRequestResource">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="title" jdbcType="VARCHAR" property="groupName"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="nickname" jdbcType="VARCHAR" property="username"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="is_accepted" jdbcType="TINYINT" property="isAccepted"/>
        <result column="request_time" jdbcType="TIMESTAMP" property="requestTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    req.id, req.group_id, g.title, req.user_id, u.nickname, u.avatar_url, req.is_accepted, req.request_time
  </sql>
    <select id="listUserRequest" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from noti_user_request as req
        join noti_group as g on req.group_id = g.id
        join user_info as u on u.user_id = req.user_id
        where g.user_id = #{userId,jdbcType=INTEGER} and req.is_accepted = 0
    </select>
    <select id="listManageUserRequest" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from noti_user_request as req
        join noti_group_user as gu on req.group_id = gu.group_id and gu.user_id = #{userId,jdbcType=INTEGER} and
        gu.is_admin = 1
        join noti_group as g on req.group_id = g.id
        join user_info as u on u.user_id = req.user_id
        where req.is_accepted = 0
    </select>
</mapper>